div {
    text-align: left;
    display: -webkit-inline-box;
    width: 500px;
}
li{
    display: -webkit-box;
    padding: 1px;
}
ul{
    width: 400px;
}
input {
    display: flex;
}
p{
    color: red;
    height: 1px;
    margin-top: 3px;
    
}
.btn{
    display: flex;
    height: 28;
    margin-top: 110px;
}

